@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    --primary-color: #5271FF;
    --background-color: #fff;
    --secondary-color: #ffbd59;
    --grey-blue: #f0f3f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: black;
    overflow-x: hidden;
}

header {
    /* position: fixed; */
    width: 100%;
    height: 110px;
    /* top: 0;
    left: 0; */
    /* box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.35); */
    z-index: 5;
}

.header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
}

.header-wrapper img {
    height: 100%;
    
}

.header-wrapper img:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    

}

nav a .link {
    font-size: 1.05em;
    padding: 3px;
}

.link:hover {
    cursor: pointer; 
    border-bottom: 1px solid white;
}


/* main */

main {
    /* margin-top: 110px; */
    background: linear-gradient(to bottom, var(--primary-color) 60%, #7b8fe6);
    height: 70vh;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

main .triangle {
    height: 300px;
    width: 600px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 1px solid red; */
    transform: rotate(25deg) translate(-15%, 75%);


}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 100%;
}

.hero-text {
    font-size: 4em;
    text-align: center;
    color: black;
    max-width: 900px;
    font-weight: bold;
}

.text-section .subtext {
    max-width: 650px;
    text-align: center;
    padding-top: 20px;
}

.text-section .buttons {
    display: flex;
    padding: 30px 10px;
    max-width: 650px;
    min-width: 400px;
    justify-content: center;
    gap: 30px;

}

.buttons a {
    text-decoration: none;
    
}

.learnmore-button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
}

.register-button {
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    color: black;
    font-size: 1.1em;
    background-color: var(--secondary-color);
}

/* Subjects */

.subjects {
    height: 720px;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    padding-left: 10px;
}

.subject-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.subjects-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    max-width: 1300px;
    place-content: center;
}

.subjects h1 {
    text-align: center;
    font-size: 2.2em;
    padding: 50px 0px;
    font-weight: normal;
}

.subject-box {
    padding: 15px;
    height: 225px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.subject-content {
    /* background-color: red; */
    width: 100%;
    padding: 15px 35px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.subject-box:hover {
    border: 2px solid var(--primary-color);
    cursor: pointer;
    box-shadow: 0px 0px 24px 13px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}

.subject-box ul {
    /* margin-top: 0;
    list-style-type: none;
    display: flex;
    gap: 20px; */
    
}

.subject-box ul li {
    padding: 3px 0;
    white-space: nowrap;
}

.subject-more-info {
    /* position: absolute;
    bottom: 10px; */

    padding: 10px 20px;
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;

    outline: none;
    color: var(--primary-color);


}

.subject-more-info:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: rgb(236, 236, 236);
    transition: all 0.75s;
}

.subject-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}



/* posts */

section.testimonials {
    height: 340px;
    padding: 15px 100px;
    background: #f0f3f5;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 70px;

}

.testimonials .arrow {
    /* font-size: 2.5em;
    font-weight: 200;
    transform: scaleX(2.1); */
    font-size: 2.75em;
    color: #939393;
    z-index: 3;
}

.ar-dwn {
    rotate: 180deg;
}

.arrow:hover {
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out
}

.testimonial {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 310px;
    resize: none;
    justify-content: center;
    
}

.testimonial-author {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 500;
}

.testimonial-author img {
    width: 65px;
    height: 65px;
}

.testimonial-content {
    font-size: 1.1em;
    font-weight: 300;
}

.stars {
    margin-top: 10px;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 310px;
    transition: transform 1s;
    
}

.carousel-wrapper {
    overflow: hidden
    
}

.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.shift {
    transform: translateY(100%);
    
}

.markers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.marker {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.marker.active {
    background-color: var(--primary-color);
}

.marker:hover {
    cursor:pointer;
    background-color: var(--primary-color);
    transition: all .5s;
}

/* .update-triangle {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: calc(142%);
    transform: rotateZ(25deg) translate(40%, -95%);
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
} */

/* Contact */
.contact {
    height: 570px;
    padding: 20px 100px;
    background-color: var(--grey-blue);
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 100px 100px 120px 100px; 

}

.contact-wrapper form {
    width: 60%;
}

.separated {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 25px;
}

.reach-out {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    /* height: 200px; */
    
    justify-content: space-between;
}

.socials {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social h3 {
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 500;
}

.social a {
    font-size: 1em;
    color: #000000;
    font-weight: 300;
    padding: 5px 0px;
    text-decoration: none;
    
}

.social a:hover {
    text-decoration: underline;
}

.send-btn {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: none;
    color: black;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
    
}

.contact-top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-top-container h1 {
    padding-bottom: 7px !important;
}

.contact-top-container p {
    color: #878787;
    padding-bottom: 30px;
}

.send-btn:hover {
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}


.contact-wrapper h1 {
    font-size: 2.2em;
    font-weight: 500;
    /* padding-bottom: 25px; */
}

.contact-wrapper form {
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-wrapper form input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #939393;
    padding: 15px 0px;
    outline: none;
    background-color: var(--grey-blue);
    font-size: 1em;
    font-weight: 300;
    
}

.contact-wrapper form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 1px solid #939393;
    padding: 15px 0px;
    outline: none;
    resize: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    background-color: var(--grey-blue);
    
}

.form-group label {
    font-size: 1.1em;
    font-weight: 400;
    
}

/* Tutor */
.tutor {
    height: 700px;
    padding: 40px 100px;
}

.tutor-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100%;    
}

.tutor-stats {
    width: 50%;
    /* border: 1px solid red; */
}

.tutor-stats h1 {
    font-size: 2.2em;
}

.stats-container {
    height: 100%;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.tutor-stat {
    display: flex;
    
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.tutor-stat:nth-child(even) {
    padding: 0px 30px 0px 40px;
    transform: translateY(0px);
    justify-self: left;
}

.tutor-number {
    color: var(--secondary-color);
    font-size: 2.5em;
    font-weight: 500;
    padding-right: 10px;
}

.tutor-subject {
    font-size: 1.2em;
    font-weight: 400;
    color: #878787;
}

.tutor-stat span {
    
}


.tutor-paragraph {
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tutor-paragraph p {
    padding: 0px 20px 20px 20px;
    font-size: 1.1em;
    line-height: 1.5rem;
}



.tutor-cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 20px 40px 20px;
    /* min-height: 305px; */
    
    max-width: 650px;
}

.tutor-card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--primary-color); */
    border-radius: 15px;
    width: 33%;
    overflow: hidden;
    background-color: var(--grey-blue);
    height: 100%;
}

.tutor-caption {
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    display: flex;
    height: 50%;
    justify-content: center;
}

.tutor-caption span {
    color: gray;
    font-size: 0.9em;
}

.tutor-card img {
    width: 100%;

    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.tutor-paragraph button {
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 0.9em;
}

.tutor-paragraph button:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
}


/* footer */

footer {
    height: 250px;
    background: linear-gradient(to bottom, var(--primary-color) 60%, #7b8fe6);
    color: white;
    padding: 0px 200px;
}

.footer-wrapper {
    display: flex;
    padding: 30px;
    height: 100%;
}

.footer-left {
    width: 65%;
    height: 100%;
}

.footer-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
}

.footer-copyright {
    text-align: right;
}

.footer-logo img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.footer-link-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    flex-direction: column;
}

.footer-link-wrapper a:hover {
    border-bottom: 1px solid var(--grey-blue);
    transition: all 0.3s ease-in-out;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-align: center;
    text-decoration: none;
    gap: 20px;
}

.footer-link-wrapper a {
    color: var(--grey-blue);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 3px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;
    text-decoration: none;
    gap: 20px;
}

.footer-socials a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer-socials a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

.ig img {
    width: 25px !important;
    height: 25px !important;
}

/* MODAL */
.subject-modal {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.subject-modal-wrapper {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.subject-modal-wrapper-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #c3c3c3;
}

.subject-modal-wrapper-header-title {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.subject-modal-wrapper-header-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.subject-modal-wrapper-header-title h2 {
    font-size: 1.7em;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}

.subject-modal-wrapper-header-close {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}

.subject-modal-wrapper-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    overflow-y: scroll;
}

.subject-modal-wrapper-content-main::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    
}

.subject-modal-wrapper-content-main::-webkit-scrollbar-thumb {
    background: #c3c3c3;
    border-radius: 15px;
}

.subject-modal-wrapper-content-sidebar {
    width: 30%;
    height: 100%;
    border-right: 1px solid #c3c3c3;
    padding: 20px;
}

.subject-modal-wrapper-content-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subject-modal-wrapper-content-sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #c3c3c3;
    transition: all 0.3s ease-in-out;
}

.subject-modal-wrapper-content-sidebar ul li:hover {
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.m-sel {
    color: var(--primary-color) !important;
    font-weight: 600 !important;
}

.subject-modal-wrapper-content-main {
    height: 100%;
    padding: 20px 40px;
    overflow-y: scroll;
    display: none;
    flex-direction: column;
    gap: 30px;
    
}

.subject-modal-wrapper-content-main-course-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subject-modal-wrapper-content-main-tutors {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.subject-modal-wrapper-content-main-tutor {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.subject-modal-wrapper-content-main-tutor:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.subject-modal-wrapper-content-main-tutor img {
    width: 150px;
    height: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

/* scroll */
::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
    

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    width: 7px;
    
}


/* Media Queries */
