@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    --primary-color: #5271FF;
    --background-color: #fff;
    --secondary-color: #ffbd59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: black;
}

header {
    /* position: fixed; */
    width: 100%;
    height: 110px;
    /* top: 0;
    left: 0; */
    /* box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.35); */
    z-index: 5;
}

.header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
}

.header-wrapper img {
    height: 100%;
    
}

.header-wrapper img:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    

}

nav a .link {
    font-size: 1.05em;
    padding: 3px;
}

.link:hover {
    cursor: pointer; 
    border-bottom: 1px solid white;
}


/* main */

main {
    /* margin-top: 110px; */
    background: linear-gradient(to bottom, var(--primary-color) 60%, #7b8fe6);
    height: 70vh;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

main .triangle {
    height: 300px;
    width: 600px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 1px solid red; */
    transform: rotate(25deg) translate(-15%, 75%);


}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 100%;
}

.hero-text {
    font-size: 4em;
    text-align: center;
    color: black;
    max-width: 900px;
    font-weight: bold;
}

.text-section .subtext {
    max-width: 650px;
    text-align: center;
    padding-top: 20px;
}

.text-section .buttons {
    display: flex;
    padding: 30px 10px;
    max-width: 650px;
    min-width: 400px;
    justify-content: center;
    gap: 30px;

}

.buttons a {
    text-decoration: none;
    
}

.learnmore-button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
}

.register-button {
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    color: black;
    font-size: 1.1em;
    background-color: var(--secondary-color);
}

/* Subjects */

.subjects {
    height: 720px;
    padding: 20px 100px;
}

.subject-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    padding-left: 10px;
}

.subject-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.subjects-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.subjects h1 {
    text-align: center;
    font-size: 2.2em;
    padding: 50px 0px;
    font-weight: normal;
}

.subject-box {
    padding: 15px;
    height: 225px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.subject-content {
    /* background-color: red; */
    width: 100%;
    padding: 15px 35px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.subject-box:hover {
    border: 2px solid var(--primary-color);
    cursor: pointer;
    box-shadow: 0px 0px 24px 13px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}

.subject-box ul {
    /* margin-top: 0;
    list-style-type: none;
    display: flex;
    gap: 20px; */
}

.subject-box ul li {
    padding: 3px 0;
}

.subject-more-info {
    /* position: absolute;
    bottom: 10px; */

    padding: 10px 20px;
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;

    outline: none;
    color: var(--primary-color);


}

.subject-more-info:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: rgb(236, 236, 236);
    transition: all 0.75s;
}

.subject-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

/* posts */

section.testimonials {
    height: 340px;
    padding: 15px 100px;
    background: #f0f3f5;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 70px;

}

.testimonials .arrow {
    /* font-size: 2.5em;
    font-weight: 200;
    transform: scaleX(2.1); */
    font-size: 2.75em;
    color: #939393;
    z-index: 3;
}

.ar-dwn {
    rotate: 180deg;
}

.arrow:hover {
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out
}

.testimonial {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 310px;
    resize: none;
    justify-content: center;
    
}

.testimonial-author {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 500;
}

.testimonial-author img {
    width: 65px;
    height: 65px;
}

.testimonial-content {
    font-size: 1.1em;
    font-weight: 300;
}

.stars {
    margin-top: 10px;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 310px;
    transition: transform 1s;
    
}

.carousel-wrapper {
    overflow: hidden
    
}

.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.shift {
    transform: translateY(100%);
    
}

.markers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.marker {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.marker.active {
    background-color: var(--primary-color);
}

.marker:hover {
    cursor:pointer;
    background-color: var(--primary-color);
    transition: all .5s;
}

/* .update-triangle {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: calc(142%);
    transform: rotateZ(25deg) translate(40%, -95%);
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
} */





/* scroll */
::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
    

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    width: 7px;
    
}