@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    --primary-color: #5271FF;
    --background-color: #fff;
    --secondary-color: #ffbd59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: black;
}

header {
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    /* box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.35); */
    z-index: 5;
}

.header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
}

.header-wrapper img {
    height: 100%;
    
}

.header-wrapper img:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    

}

nav a .link {
    font-size: 1.05em;
    padding: 3px;
}

.link:hover {
    cursor: pointer; 
    border-bottom: 1px solid white;
}


/* main */

main {
    margin-top: 110px;
    background: linear-gradient(to bottom, var(--primary-color) 60%, #7b8fe6);
    height: 70vh;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

main .triangle {
    height: 300px;
    width: 600px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 1px solid red; */
    transform: rotate(25deg) translate(-15%, 75%);


}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 100%;
}

.hero-text {
    font-size: 4em;
    text-align: center;
    color: black;
    max-width: 900px;
    font-weight: bold;
}

.text-section .subtext {
    max-width: 650px;
    text-align: center;
    padding-top: 20px;
}

.text-section .buttons {
    display: flex;
    padding: 30px 10px;
    max-width: 650px;
    min-width: 400px;
    justify-content: center;
    gap: 30px;

}

.buttons a {
    text-decoration: none;
    
}

.learnmore-button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
}

.register-button {
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    color: black;
    font-size: 1.1em;
    background-color: var(--secondary-color);
}

/* Subjects */

.subjects {
    height: 100vh;
    padding: 20px;
}

.subjects h1 {
    text-align: center;
    font-size: 2.2em;
    padding: 50px 0px;
    font-weight: normal;
}

.subjects-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.subject-box {
    padding: 15px;
    height: 350px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
    border: 2px solid transparent;
    position: relative;
}

.subject-box:hover {
    border: 2px solid var(--primary-color);
    transition: all 0.5s;
}

.subject-box h2 {
    height: 50px;
}

.subject-box ul {
    margin-top: 0;
    list-style-type: none;
}

.subject-box ul li {
    padding: 3px 0;
}


.subject-more-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;

    outline: none;
    color: var(--primary-color);

}

.subject-more-info:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: rgb(236, 236, 236);
    transition: all 0.75s;
}

/* posts */

section.updates {
    height: 100vh;
    padding: 20px;
    
}

.updates h1 {

    text-align: center;
    font-size: 2.2em;
    padding: 50px 0px;
    font-weight: normal;
}


.update-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.update-post {
    height: 400px;
    
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}

.post-header {
    height: 75px;
    display: flex;
}

.post-header img {
    height: 75px;
    width: 75px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.post-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.post-content {
    padding: 20px;
    height: calc(100% - 75px);
}

.post-content p {
    text-overflow: ellipsis;
    overflow: scroll;
    max-height: 100%;
    width: 100%;
}

p::-webkit-scrollbar {
    width: 3px;
    
}

p::-webkit-scrollbar-thumb {
    border-radius: 5px;
}




/* scroll */
::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
    

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    width: 7px;
    
}