@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    --primary-color: #5271FF;
    --background-color: #fff;
    --secondary-color: #ffbd59;
    --grey-blue: #f0f3f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: black;
    overflow-x: hidden;
}

header {
    /* position: fixed; */
    width: 100%;
    height: 110px;
    /* top: 0;
    left: 0; */
    /* box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.35); */
    z-index: 5;
}

.header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
}

.header-wrapper img {
    height: 100%;
    
}

.header-wrapper img:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

nav a .link {
    font-size: 1.05em;
    padding: 3px;
}

.link:hover {
    cursor: pointer; 
    border-bottom: 1px solid white;
}

/* tutor wrapper */
.tutor-wrap {
    width: 100%;
    height: calc(100vh + 100px);
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.tutor-sidebar {
    width: 380px;
    height: 90%;
    /* border-right: 1px solid var(--primary-color); */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--grey-blue);
    border-radius: 15px;
    align-items: center;
    overflow-y: hidden;
}

.tutor-profile-header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.tutor-profile-header img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.tutor-profile-header-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.tutor-profile-header-name {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.tutor-profile-header-text h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primary-color);
}

.tutor-profile-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.tutor-profile-body h1 {
    color: #868686;
    font-size: 1em;
}

.tutor-profile-body-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tutor-profile-body-section-subsection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.tutor-profile-body-section-subsection h2 {
    font-size: 1.1em;
    font-weight: 300;
}

.tutor-profile-body-section-subsection-courses {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.sm-cs p:hover {
    cursor: pointer;
    color: var(--primary-color);
    transition: 0.3s;
}

.tutor-profile-body-section-subsection p {
    color: #868686;
    font-size: 0.9em;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;

}

.tutor-profile-header-text span {
    background-color: var(--secondary-color);
    font-size: 0.8em;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.tutor-profile-header-text h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: #676767;
}

.tutor-main {
    background-color: var(--grey-blue);
    flex: 1;
    height: 90%;
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.tutor-sessions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 15px;
}

.tutor-sessions .tutor-session {
    /* width: 270px; */
    width: 100%;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    
}

.tutor-main h1 {
    text-align: left;
    padding: 10px;
    font-size: 2em;
    margin-bottom: 20px;
}
.tutor-session-top {
    display: flex;
    align-items: center;
    
    gap: 20px;
}

.tutor-session-top h3 {
    margin-top: 20px;
}

.tutor-session p span{
    font-weight: bold;
}

.tutor-session .tutor-session-top img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.tutor-session-bottom {
    width: 100%;

}

.tutor-session-bottom button {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-radius: 10px;
    font-size: 1em;
}

.tutor-session-bottom button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    
}

.tutor-page-selection {
    display: flex;
    height: 50px;
    
    margin-bottom: 30px;
    width: 100%;
    flex-direction: column;
    
}

.tutor-page-selection section {
    width: 330px;
    display: flex;
    height: 45px;
    gap: 10px;
    align-items: flex-end;
}

.tutor-selection-choice {
    height: 80%;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 1.1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tutor-selection-choice:hover {
    cursor: pointer;
    background-color: lightgray;
}

.tutor-selection-choice.active {
    background-color: lightgray;
}

.tutor-page-selection::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: lightgray;
    border-radius: 30px;
}

.tutor-request {
    background-color: var(--primary-color) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tutor-request .tutor-session-top {

    text-align: center !important;
}

/* tutor resources */
.tutor-resources {
}
.tutor-main::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.tutor-main::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #c3c3c3;
    border-radius: 10px;
}




.tutor-announcements {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tutor-announcement {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.announcement-top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.announcement-top p {
    font-size: 0.9em;
    color: #868686;
}

.tutor-announcement {
    gap: 12px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
}

.announcement-body {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.announcement-body a {
    text-decoration: none;
    color: var(--primary-color);
    width: fit-content;
    transition: all 0.5s ease-in-out;
}

.tutor-announcements-top-area {
    height: 250px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    padding: 20px;
    display: flex;
    
}

.top-area-left {
    width: 50%;
    /* border-right: 1px solid lightgray; */
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-area-right {
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.top-area-right textarea {
    border: 1px solid lightgray;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
    font-size: 0.9em;
}

.top-area-right button {
    padding: 10px 0;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: black;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.top-area-right button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.tutor-announcements-top-area h1 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
}

.tutor-announcements-top-area a {
    text-decoration: none;
    color: var(--primary-color);
    width: fit-content;
}

.tutor-announcements-top-area a:hover {
    border-bottom: 1px solid var(--primary-color);
}


.pinned-flair {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    width: fit-content;
}

.announcement-body a:hover {
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}


/* footer */

footer {
    height: 175px;
    background-color: var(--grey-blue);
    color: black;
    padding: 0px 200px;
  }
  
  .footer-wrapper {
    display: flex;
    padding: 30px;
    height: 100%;
  }
  
  .footer-left {
    width: 65%;
    height: 100%;
  }
  
  .footer-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
  }
  
  .footer-copyright {
    text-align: right;
    font-size: 0.8em;
  }
  
  .footer-logo img {
    width: 160px;
    height: 80px;
    object-fit: cover;
    object-position: center;
  }
  
  .footer-link-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    flex-direction: column;
  }
  
  .footer-link-wrapper a:hover {
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-align: center;
    text-decoration: none;
    gap: 20px;
  }
  
  .footer-link-wrapper a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 3px;
    font-size: 0.85em;
  }
  
  .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    text-align: center;
    text-decoration: none;
    gap: 20px;
  }
  
  .footer-socials a {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  
  .footer-socials a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
  }
  
  .ig img {
    width: 25px !important;
    height: 25px !important;
  }
  
  /* scroll */
::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
    

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    width: 7px;
}